@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #D3F0F4;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
  font-family:inherit
}
a{
  text-decoration: none;
  color: inherit;
}
ul,ol{
  list-style: none;
}
input, textarea{
  border: none;
  outline: none;
  font-family: inherit;
}
textarea{
  resize: none;
}
.container{
  max-width: 1040px;
  margin:auto;
}
button:disabled{
  opacity:0.5;
}